{% extends "base.html" %}

{% block content %}
<h2>Owner Information</h2>

<table class="table table-striped">
    <tr>
        <th style="width: 150px;">Name</th>
        <td><b>{{ owner.first_name }} {{ owner.last_name }}</b></td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{ owner.address }}</td>
    </tr>
    <tr>
        <th>City</th>
        <td>{{ owner.city }}</td>
    </tr>
    <tr>
        <th>Telephone</th>
        <td>{{ owner.telephone }}</td>
    </tr>
</table>

<a href="{{ url_for('owners.edit_owner', owner_id=owner.id) }}" class="btn btn-primary">Edit Owner</a>
<a href="{{ url_for('owners.new_pet', owner_id=owner.id) }}" class="btn btn-primary">Add New Pet</a>

<br><br><br>
<h2>Pets and Visits</h2>

<table class="table table-striped">
    {% for pet in owner.pets %}
    <tr>
        <td valign="top" style="width: 300px;">
            <dl class="row">
                <dt class="col-sm-4">Name</dt>
                <dd class="col-sm-8">{{ pet.name }}</dd>
                <dt class="col-sm-4">Birth Date</dt>
                <dd class="col-sm-8">{{ pet.birth_date.strftime('%Y-%m-%d') if pet.birth_date else '' }}</dd>
                <dt class="col-sm-4">Type</dt>
                <dd class="col-sm-8">{{ pet.type.name if pet.type else '' }}</dd>
            </dl>
        </td>
        <td valign="top">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Visit Date</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visit in pet.visits %}
                    <tr>
                        <td>{{ visit.date.strftime('%Y-%m-%d') }}</td>
                        <td>{{ visit.description }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><a href="{{ url_for('owners.edit_pet', owner_id=owner.id, pet_id=pet.id) }}">Edit Pet</a></td>
                        <td><a href="{{ url_for('owners.new_visit', owner_id=owner.id, pet_id=pet.id) }}">Add Visit</a></td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
